@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.color-primary {
  color: #ce9797;
}

.color-primary-2 {
  color: #f96262;
}

.color-neutral {
  color: #413a3a;
}

.bg-gradient-btn {
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
}

.bg-gradient-btn:hover {
  background: linear-gradient(135deg, #fff5f5, #f8bfbf);
}

@media (min-width: 512px) {
  section {
    background-image: url("/images/bg-pattern-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
